<h4><%= flash[:alert] %></h4>

<div style="background-color:#e9eaed;">
  <h1>Write Post</h1>
  <form action="/wall/write_complete" method="post">
    <p>
      <label for="">name : </label>
      <input type="text" name="writer">
    </p>
    <p>
      <label for="">content : </label>
      <textarea name="content" placeholder="Write something"></textarea>
    </p>
    <p>
      <input type="submit" value="write">
    </p>
  </form>
</div>